*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{
    background:#f8faff;
    color:#111827;
}


/* HEADER */

header{

    width:100%;
    padding:25px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,0.05);

    position:sticky;
    top:0;
    z-index:100;

}


.logo{

    font-size:25px;
    font-weight:700;

    background:linear-gradient(90deg,#2563eb,#9333ea);

    -webkit-background-clip:text;
    color:transparent;

}



nav{

    display:flex;
    gap:30px;

}


nav a{

    text-decoration:none;
    color:#374151;

    font-size:15px;
    font-weight:500;

    transition:.3s;

}


nav a:hover{

    color:#2563eb;

}




.buttons button{

    padding:12px 25px;

    border-radius:30px;

    border:none;

    cursor:pointer;

    font-weight:600;

}



.login{

    background:white;
    border:1px solid #ddd !important;

}


.start{

    background:#2563eb;
    color:white;

    margin-left:10px;

}




/* HERO SECTION */


.hero{

    min-height:90vh;

    padding:80px 8%;

    display:flex;

    align-items:center;

    justify-content:space-between;

}



.left{

    width:50%;

}



.left h1{

    font-size:60px;

    line-height:1.15;

    font-weight:800;

}



.left h1 span{

    color:#2563eb;

}



.left p{

    margin-top:25px;

    font-size:18px;

    color:#6b7280;

    max-width:500px;

    line-height:1.7;

}




.hero-buttons{

    margin-top:35px;

}



.hero-buttons button{

    padding:15px 35px;

    border-radius:30px;

    border:none;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

}



.primary{

    background:#2563eb;

    color:white;

}



.secondary{

    margin-left:15px;

    background:white;

    border:1px solid #ddd !important;

}





/* RIGHT CARDS */


.right{

    width:40%;

    display:flex;

    flex-direction:column;

    gap:25px;

}



.card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    transition:.4s;

}



.card:hover{

    transform:translateY(-10px);

}



.card i{

    font-size:40px;

    color:#2563eb;

}



.card h3{

    margin-top:15px;

    font-size:22px;

}



.card p{

    margin-top:10px;

    color:#6b7280;

}




/* RESPONSIVE */


@media(max-width:900px){


header{

    flex-direction:column;
    gap:20px;

}


nav{

    flex-wrap:wrap;

    justify-content:center;

}


.hero{

    flex-direction:column;

    text-align:center;

}


.left,
.right{

    width:100%;

}


.left h1{

    font-size:40px;

}


.right{

    margin-top:50px;

}


}